{% extends 'comun/base.html' %}
{% import 'comun/paginado.html' as paginado %}
{% import 'comun/modal_eliminar.html' as modal_eliminar %}
{% import 'comun/modal_editar.html' as modal_editar %} 
{% import 'comun/modal_agregar.html' as modal_agregar %}

{% block content %}
<div class="container p-2 small"></div>
<h2 class="text-center">Universidades</h2>
<div class="row">

	<div>
		<form method="GET" action="{{ url_for('routes_universidades.generar_excel') }}" class="mb-3">

			<a class="btn btn-success mb-3" data-bs-toggle="modal"
					data-bs-target="#agregarModal" ><i class="fa fa-plus"
					aria-hidden="true"></i></a>

			<button class="btn btn-info mb-3" type="submit"><i class="fa-regular fa-file-excel"></i></button>

		</form>
		
	</div>

</div>

<form method="GET" action="{{ url_for('routes_universidades.obtener_lista_paginada') }}" class="mb-3">
	<div class="row">
		<div class="col-md-3">
			<input type="text" class="form-control" name="nombre" placeholder="Nombre"
				value="{{ filtros.get('nombre', '') }}">
		</div>
		<div class="col-md-3">
			<button type="submit" class="btn btn-primary"><i class="fa-solid fa-filter"></i></button>
		</div>
	</div>
</form>

<div id="universidades-list">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th></th>
				<!-- ... (otros encabezados) ... -->
			</tr>
		</thead>
		<tbody>
			{% for universidad in universidades.items %}
			<tr>
				<td>{{ universidad.id }}</td>
				<td>{{ universidad.nombre }}</td>
				<!-- ... (otros campos) ... -->
				<td>
					<button 	class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#editarModal{{ universidad.id }}"><i class="fa-regular fa-pen-to-square"></i></button>
					<button class="btn btn-danger" data-bs-toggle="modal"
						data-bs-target="#eliminarModal{{ universidad.id }}"><i class="fa-regular fa-trash-can"></i></button>
				</td>
			</tr>
			<!-- Modal para confirmar la eliminación -->
			{{ modal_eliminar.confirmar_eliminar(
			universidad.id,
			url_for('routes_universidades.crear_editar_eliminar_universidad', universidad_id=universidad.id),
			'¿Estás seguro de que deseas eliminar ' ~ universidad.nombre ~ ' '~ '?'
			) }}

			<!-- Modal para editar -->
			{{ modal_editar.confirmar_editar(
				universidad.id,
				universidad.nombre,
				url_for('routes_universidades.crear_editar_eliminar_universidad', universidad_id=universidad.id), 'Universidad'
				) }}

			
				<!-- Modal para agregar -->
			{{ modal_agregar.confirmar_agregar(
				url_for('routes_universidades.crear_editar_eliminar_universidad', universidad_id= 0), 'Universidad'
				) }}

			
			{% endfor %}
		</tbody>
	</table>

	{{ paginado.render_paginado('routes_universidades.obtener_lista_paginada', universidades, filtros=filtros) }}

	<a class="btn btn-primary" href="{{ url_for('routes.index') }}">Volver a Inicio</a>
</div>





{% endblock %}