00000{% macro campos_carreras(selected_facultad, selected_universidad, selected_campus, selected_programa) %}
<div class="col mb-3">
    <label for="facultad" class="form-label">Facultad</label>
    <select class="form-control" id="facultad" name="facultad">
        <option value="" disabled selected>Seleccionar Facultad</option>
    </select>
</div>
<div class="col mb-3">
    <label for="universidad" class="form-label">Universidad</label>
    <select class="form-control" id="universidad" name="universidad" disabled>
        <option value="" disabled selected>Seleccionar Universidad</option>
    </select>
</div>
<div class="col mb-3">
    <label for="campus" class="form-label">Campus</label>
    <select class="form-control" id="campus" name="campus" disabled>
        <option value="" disabled selected>Seleccionar Campus</option>
    </select>
</div>
<div class="col mb-3">
    <label for="programa" class="form-label">Programa</label>
    <select class="form-control" id="programa" name="programa" disabled>
        <option value="" disabled selected>Seleccionar Programa</option>
    </select>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const facultadSelect = document.getElementById("facultad");
        const universidadSelect = document.getElementById("universidad");
        const campusSelect = document.getElementById("campus");
        const programaSelect = document.getElementById("programa");
        const seleccionFacultadAnterior = "{{ selected_facultad }}"; // Valor enviado desde la macro
        const seleccionUniversidadAnterior = "{{ selected_universidad }}"; // Valor enviado desde la macro
        const seleccionCampusAnterior = "{{ selected_campus }}"; // Valor enviado desde la macro
        const seleccionProgramaAnterior = "{{ selected_programa }}"; // Valor enviado desde la macro

        // Cargar opciones de Facultad desde la API
        fetch('/api/carreras/obtener_facultades')
            .then(response => response.json())
            .then(data => {
                if (data.Exito) {
                    const facultades = data.Resultado;
                    facultades.forEach(facultad => {
                        const option = document.createElement("option");
                        option.value = facultad.nombre;
                        option.textContent = facultad.nombre;
                        facultadSelect.appendChild(option);
                        if (facultad.nombre === seleccionFacultadAnterior) { facultadSelect.value = seleccionFacultadAnterior; }
                    });
                    const otraOpcion = document.createElement("option");
                    otraOpcion.value = "Otro";
                    otraOpcion.textContent = "Otro";
                    facultadSelect.appendChild(otraOpcion);

                    // Disparar manualmente el evento change de la facultad
                    const changeEvent = new Event('change');
                    facultadSelect.dispatchEvent(changeEvent);
                }
            })
            .catch(error => console.error("Error al cargar las facultades:", error));

        // Evento de cambio para Facultad
        facultadSelect.addEventListener('change', function () {
            const selectedFacultad = this.value;

            // Resetear las opciones anteriores
            universidadSelect.innerHTML = '<option value="" disabled selected>Seleccionar Universidad</option>';
            campusSelect.innerHTML = '<option value="" disabled selected>Seleccionar Campus</option>';
            programaSelect.innerHTML = '<option value="" disabled selected>Seleccionar Programa</option>';
            universidadSelect.disabled = true;
            campusSelect.disabled = true;
            programaSelect.disabled = true;

            // Cargar opciones de Universidad desde la API
            if (selectedFacultad) {
                fetch('/api/carreras/obtener_universidades', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ facultad: selectedFacultad })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.Exito) {
                            const universidades = data.Resultado;
                            universidades.forEach(universidad => {
                                const option = document.createElement("option");
                                option.value = universidad.nombre;
                                option.textContent = universidad.nombre;
                                universidadSelect.appendChild(option);
                                if (universidad.nombre === seleccionUniversidadAnterior) { universidadSelect.value = seleccionUniversidadAnterior; }
                            });
                            universidadSelect.disabled = false;
                            const otraOpcion = document.createElement("option");
                            otraOpcion.value = "Otro";
                            otraOpcion.textContent = "Otro";
                            universidadSelect.appendChild(otraOpcion);

                                                        // Disparar manualmente el evento change de universidad
                                                        const changeEvent = new Event('change');
                            universidadSelect.dispatchEvent(changeEvent);
                        }
                    })
                    .catch(error => console.error("Error al cargar las universidades:", error));
            }
        });

        // Evento de cambio para Universidad
        universidadSelect.addEventListener('change', function () {
            const selectedFacultad = facultadSelect.value;
            const selectedUniversidad = this.value;

            // Resetear las opciones anteriores
            campusSelect.innerHTML = '<option value="" disabled selected>Seleccionar Campus</option>';
            programaSelect.innerHTML = '<option value="" disabled selected>Seleccionar Programa</option>';
            campusSelect.disabled = true;
            programaSelect.disabled = true;

            // Cargar opciones de Campus desde la API
            if (selectedFacultad && selectedUniversidad) {
                fetch('/api/carreras/obtener_campus', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ facultad: selectedFacultad, universidad: selectedUniversidad })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.Exito) {
                            const campusList = data.Resultado;
                            campusList.forEach(campus => {
                                const option = document.createElement("option");
                                option.value = campus.nombre;
                                option.textContent = campus.nombre;
                                campusSelect.appendChild(option);
                                if (campus.nombre === seleccionCampusAnterior) { campusSelect.value = seleccionCampusAnterior; }
                            });
                            campusSelect.disabled = false;
                            const otraOpcion = document.createElement("option");
                            otraOpcion.value = "Otro";
                            otraOpcion.textContent = "Otro";
                            campusSelect.appendChild(otraOpcion);

                            // Disparar manualmente el evento change de campus
                            const changeEvent = new Event('change');
                            campusSelect.dispatchEvent(changeEvent);
                        }
                    })
                    .catch(error => console.error("Error al cargar los campus:", error));
            }
        });

        // Evento de cambio para Campus
        campusSelect.addEventListener('change', function () {
            const selectedFacultad = facultadSelect.value;
            const selectedUniversidad = universidadSelect.value;
            const selectedCampus = this.value;

            // Resetear las opciones anteriores
            programaSelect.innerHTML = '<option value="" disabled selected>Seleccionar Programa</option>';
            programaSelect.disabled = true;

            // Cargar opciones de Programa desde la API
            if (selectedFacultad && selectedUniversidad && selectedCampus) {
                fetch('/api/carreras/obtener_programas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ facultad: selectedFacultad, universidad: selectedUniversidad, campus: selectedCampus })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.Exito) {
                            const programas = data.Resultado;
                            programas.forEach(programa => {
                                const option = document.createElement("option");
                                option.value = programa.nombre;
                                option.textContent = programa.nombre;
                                programaSelect.appendChild(option);
                                if (programa.nombre === seleccionProgramaAnterior) { programaSelect.value = seleccionProgramaAnterior; }
                            });
                            programaSelect.disabled = false;
                            const otraOpcion = document.createElement("option");
                            otraOpcion.value = "Otro";
                            otraOpcion.textContent = "Otro";
                            programaSelect.appendChild(otraOpcion);
                        }
                    })
                    .catch(error => console.error("Error al cargar los programas:", error));
            }
        });

        // Agregar opción "Otro" y manejar entrada de nuevos elementos
        const selects = [facultadSelect, universidadSelect, campusSelect, programaSelect];
        selects.forEach(select => {
            select.addEventListener('change', function () {
                if (select.value === 'Otro') {
                    const nuevoElemento = prompt(`Ingrese nuevo valor para ${select.id}`);
                    if (nuevoElemento) {
                        const nuevaOpcion = document.createElement("option");
                        nuevaOpcion.value = nuevoElemento;
                        nuevaOpcion.textContent = nuevoElemento;
                        select.insertBefore(nuevaOpcion, select.lastElementChild);
                        select.value = nuevoElemento;
                    } else {
                        // Restaurar la selección anterior
                        select.value = select.id === 'facultad' ? seleccionFacultadAnterior :
                            select.id === 'universidad' ? seleccionUniversidadAnterior :
                                select.id === 'campus' ? seleccionCampusAnterior :
                                    select.id === 'programa' ? seleccionProgramaAnterior :
                                        "";
                    }
                }
            });
        });
    });
</script>
{% endmacro %}

