{% extends 'comun/base.html' %}
{% import 'comun/paginado.html' as paginado %}
{% import 'comun/modal_eliminar.html' as modal_eliminar %}

{% block content %}
<div class="container p-2 small"></div>
	<h2 class="text-center">Carreras</h2>
	<a class="btn btn-success mb-3" href="{{ url_for('routes_carreras.crear_carrera') }}">Agregar carrera</a>
	<form method="GET" class="mb-3">
		<div class="row">
			<div class="col-md-3">
				<input type="text" class="form-control" name="programa" placeholder="Programa">
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="facultad" placeholder="Facultad">
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="universidad" placeholder="Universidad">
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="campus" placeholder="Campus">
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-primary">Filtrar</button>
			</div>
		</div>
	</form>
	<div id="personas-list">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Programa</th>
					<th>Facultad</th>
					<th>Universidad</th>
					<th>Campus</th>
					<!-- ... (otros encabezados) ... -->
				</tr>
			</thead>
			<tbody>
				{% for carrera in carreras.items %}
				<tr>
					<td>{{ carrera.id }}</td>
					<td>{{ carrera.programa.nombre }}</td>
					<td>{{ carrera.facultad.nombre }}</td>
					<td>{{  carrera.universidad.nombre}}</td>
					<td>{{ carrera.campus.nombre }}</td>
				</tr>
				<!-- Modal para confirmar la eliminación -->

				{% endfor %}
			</tbody>
		</table>

		{{ paginado.render_paginado('routes_carreras.obtener_lista_paginada', carreras) }}

<a class="btn btn-primary" href="{{ url_for('routes.index') }}">Volver a Inicio</a>
</div>

{% endblock %}