{% extends 'comun/base.html' %}
{{ facultades }}
{{ universidades }}
{{ campus }}
{{ programas }}
{% import 'comun/carreras_noRelacionadas.html' as carrerasSelect %}

{% block content %}
<div class="container p-2">
    <h2>Crear Nueva Carrera</h2>
    <form id="crear-carrera-form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="accion" value="crear_carrera">

        <div class="row mb-3">

            {{ carrerasSelect.campos_carrerasNorelacionadas('', '', '', '') }}

        </div>

        <div class="col mb-3 text-center">
            <button class="btn btn-success btn-sm" type="submit" id="guardar-carrera">Guardar Carrera</button>
        </div>
    </form>

    <a class="btn btn-primary" href="{{ url_for('routes_carreras.obtener_lista_paginada') }}">Volver a la Lista</a>
</div>
{% endblock %}
