{% extends 'comun/base.html' %}
{% block content %}
<div class="container p-2">
    <h2>Editar Carrera</h2>
    <form id="editar-carrera-form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col mb-3">
                <label for="facultad" class="form-label">Facultad</label>
                <input type="text" class="form-control" id="facultad" name="facultad" value="{{ carrera.facultad.nombre }}">
            </div>
            <div class="col mb-3">
                <label for="universidad" class="form-label">Universidad</label>
                <input type="text" class="form-control" id="universidad" name="universidad" value="{{ carrera.universidad.nombre }}">
            </div>
            <div class="col mb-3">
                <label for="campus" class="form-label">Campus</label>
                <input type="text" class="form-control" id="campus" name="campus" value="{{ carrera.campus.nombre }}">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="programa" class="form-label">Programa</label>
                <input type="text" class="form-control" id="programa" name="programa" value="{{ carrera.programa.nombre }}">
            </div>
        </div>
        <div class="col mb-3 text-center">
            <button class="btn btn-success btn-sm" type="submit" id="guardar-carrera">Guardar Cambios</button>
        </div>
    </form>
    <a class="btn btn-primary" href="{{ url_for('routes_carreras.obtener_lista_paginada') }}">Volver a la Lista</a>
</div>
{% endblock %}